body{
    /* padding is used to add space around the objects */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    margin-left: 20%;
    margin-right: 20%
}
body{
    background-color: #ffffff;
}
#projectForm {
    /* margin-left: 10%;  */
    text-align: center;
}
.project-container {
    width: 90vw;
    max-width: 62.5em;
    /* border: 1px solid black; - adds boarder around the container*/
    position: relative;
    margin: auto;
    /* margin auto makes the container center on the screen */
}
.add-project-con {
    display: flex;
    justify-content: flex-end;
    padding: 1.2em 1em;
}
.add-project-con button {
    font-size: 1em;
    background-color: #8B0000;
    color: #ffffff;
    padding: 0.8em 1.2em;
    font-weight: 500;
    border-radius: 0.4em;
}
#submitButton {
    font-size: .8em;
    background-color: #8B0000;
    color:#ffffff;
    padding: 0.4em 2em;
    font-weight: 400em;
    border-radius: 0.4em;
}
#project-con {
    font-size: 1em;
    /* background-color: #8B0000;
    color:#ffffff; */
    border-radius: .6em;
    width: auto;
}
.objectDiv {
    background-color: #8B0000;
    color:#ffffff; 
    margin-bottom: 1vh;
}
.headerContainer {
    /* padding: 10px 10%;  */
    /* margin-left: 10%;
    margin-right: 10% */
        /* top and bottom, left and right */
    padding-bottom: 50px;
}
.portfolioLogo {
    font-size:30px;
    color:#ffffff;
}
.logoContainer {
    background-color:#8B0000;
    font-weight: 1000;
    border-radius:2em;
    padding: 0px 10px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-right: 10%; */
    /* background-color: #8B0000; */
}
nav ul li {
    display:inline-block;
    list-style: none;
    margin: 10px 10px;
    /* adds a margin between each element */
}
nav ul li a {
    /* this is for each list element: a tag */
    color: #000000;
    /* no underline */
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
/* to create the hover effect */
nav ul li a::after {
    content:"";
    width: 0;
    height: 3px;
    background-color: #8B0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    /* transition makes the line appear slowly */
    transition: 0.5s;
}
nav ul li a:hover::after {
    /* width of the line after hovering makes it appear */
    width: 100%
}
.displayed-card {
    margin: auto;
    width: 90vw;
    max-width: 20em;
    height: 30em;
    max-height: 30em;
    background-color:#8B0000;
    border-radius: 1em;
    box-shadow: 0 5px 5px rgba(53, 1, 1, 0.5);
    text-align: center;
    padding-top: 4em;
}
#card-name {
    display: inline-block;
    /* inline-block enables the object to be centered within another object */
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
#card-text {
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: none;
    /* padding-top: 25px; padding does not work as it is to the objects border, not to the other*/
}
#card-button-container {
    margin: auto;
    width: 7vw;
    /* need width for margin to dunction */
}
#display-card-button {
    /* display: inline-block; */
    /* margin: 0 auto; */
    position: absolute;
    padding: 10px;
    background-color: #ffffff;
    
}
#displaying-card {
    /* margin: 0 auto; */
    margin: 5% 5%;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: 1em;
    /*  space at the bottom of the card */
}
#projectName {
    margin-right: 12px;
}
.card-grid {
    margin: auto;
    max-width: 60em;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-card-shown {
    background-color:#8B0000;
    /* padding-bottom: 1em; */
    padding: 1em;
    color: #ffffff;
    max-width: 20em;
    max-height: 25em;
    border-radius: 0.4em;
}
.show-hide-button {
    color: #ffffff;
    font-weight: bold;
}
/* allows for elements to be hidden */
.hide { 
    display: none;
}
