body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    background-color: #ffffff;
}
.container {
    width: 90vw;
    max-width: 62.5em;
    /* border: 1px solid black; - adds boarder around the container*/
    position: relative;
    margin: auto;
}
.add-project-con {
    display: flex;
    justify-content: flex-end;
    padding: 1.2em 1em;
}
.add-project-con button {
    font-size: 1em;
    background-color: #8B0000;
    color: #ffffff;
    padding: 0.8em 1.2em;
    font-weight: 500;
    border-radius: 0.4em;
}
#submitButton {
    font-size: .8em;
    background-color: #8B0000;
    color:#ffffff;
    padding: 0.4em 2em;
    font-weight: 400em;
    border-radius: 0.4em;
}
#project-con {
    font-size: 1em;
    /* background-color: #8B0000;
    color:#ffffff; */
    border-radius: .6em;
    width: auto;
}
.objectDiv {
    background-color: #8B0000;
    color:#ffffff;
    margin-bottom: 1vh;
}
